# registry=https://registry.npm.taobao.org

registry=https://registry.npmmirror.com/

SASS_BINARY_SITE=https://npmmirror.com/mirrors/node-sass/

ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
# ELECTRON_MIRROR=https://registry.npmmirror.com/binary.html?path=electron

ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
#ELECTRON_BUILDER_BINARIES_MIRROR=https://registry.npmmirror.com/binary.html?path=electron-builder-binaries/

package-lock=false